.width500{
    width: 500px;
}
.qt-select .btn{
    border: 0!important;
    padding: 0!important;
    color: #000!important;
}
.custom-table-height {
    min-height: 150px;
    max-height: 450px;
    overflow-y: auto;
}
.width440{
    width: 440px;
}
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    display: none;
    position: absolute;
}

.dropdown-submenu .dropdown-menu.show{
    left: 100%;
    top: 10%;
    display: block;
}
.end-10{
    right: 10px;
}

.top-70{
    top: 70%;
}
.vh-75{
    height: 75vh !important;
}
.vh-50{
    height: 50vh !important;
}
.vh-25{
    height: 25vh !important;
}
.minmaxh450{
    min-height: 450px;
    max-height: 450px;
    overflow-y: scroll;
}
.fs-10{
    font-size: 10px;
}

.pointer{
    cursor: pointer;
}

.vertical-border{
    .nav-link{
        border-bottom: 0!important;
        border-left: 3px solid #fff;
        
        &.active{
            border-color: var(--bs-primary);
        }
    }
}

.custom-offcanvas-width{
    width: 600px !important;
}
.offcanvas-footer{
    padding: 20px;
}

.width5{
    width: 5px;
}
.height5{
    height: 5px;
}
.dropdownslt-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 250px;
    overflow-y: auto;
    border: 1px solid var(--bs-border-color);
    border-top: none;
    z-index: 999;
    display: none;
}
.input-content{
    display: none;
}
.custom-dropzone{
    min-height: 50px;
    border: 2px dashed var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    background: var(--bs-body-bg);
    z-index: 1;
    position: relative;
    padding: 0;
}
.custom-dropzone .dz-message {
    margin: 1.5rem 0;
    text-align: center;
}
.custom-dropzone .dz-message .dz-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.dropdown-slt{
    position: relative;
}
.account-dropdown-menu{
    position: absolute;
    background: var(--bs-white);
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;
    z-index: 99;
}
.on-dropdown-menu{
    position: absolute;
    background: var(--bs-white);
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;
    z-index: 99;
}
.float-form-label{
    position: absolute;
    top: -16%;
    left: 20px;
    z-index: 1;
    font-size: 10px;
    background: white;
    font-weight: 400;
    padding-left: 4px;
    padding-right: 4px;
}
.float-border-label{
    position: absolute;
    top: -8%;
    left: 4%;
    z-index: 1;
    font-size: 10px;
    background: white;
    font-weight: 400;
    padding-left: 4px;
    padding-right: 4px;
}
.expand-btn {
        font-size: 14px;
        transition: transform 0.3s ease;
        user-select: none;
        pointer-events: none; /* So only row click triggers */
    }

tbody tr.parent-row.expanded .expand-btn {
    transform: rotate(90deg);
}
.controlled-checkbox {
  pointer-events: none;
}
.quotation-tbl{
    th:first-child{
        padding-left: 30px;
    }
    th:last-child{
        padding-right: 20px;
    }
    td:first-child{
        padding-left: 30px;
    }
    td:last-child{
        padding-right: 20px;
    }
}
.quotation-tbl .child-row td:first-child{
    padding-left: 45px;
}
.section-utility{
    opacity: 0;
}
.parent-row:hover .section-utility{
    opacity: 1;
    transition: 1s;
}
.dropzone-btn{
    min-height: 50px;
    min-width: 50px;
}
.dropzone-btn input[type="file"] {
    display: none;
}

.custom-img-upload {
    display: inline-block;
    width: 50px;
}
.custom-img-upload img {
    max-width: 50px;
    /* width: 100%; */
    height: 50px;
    margin-bottom: 0;
    border-radius: var(--bs-border-radius);
    object-fit: cover;
}
.custom-img-upload .upload-btn {
    display: flex;
    align-items: center;
}
.dropdown-menu.show{
    max-height: 480px;
}
.toast-success {
  background-color: #198754 !important; /* Bootstrap success green */
  color: #fff !important;
}

.offcanvas.offcanvas-end > form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.custom-img-upload {
  border: 1px solid #d9d9d9;
  padding: 5px;
  display: inline-block;
  width: 180px; }
  .custom-img-upload .upload-btn {
    display: flex;
    align-items: center; }
  .custom-img-upload .btn {
    border-radius: 0; }
  .custom-img-upload img {
    max-width: 180px;
    width: 100%;
    height: auto;
    margin-bottom: 5px; }

.step-progress {
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
}
.step-progress .step {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #dee2e6;
    position: relative;
}
.step-progress .step:not(:first-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    height: 1px;
    width: 10px;
    background: #dee2e6;
    z-index: 0;
}
.step-progress.verification .step:nth-child(1),
.step-progress.verification .step:nth-child(1):after,

.step-progress.subsidy .step:nth-child(1),
.step-progress.subsidy .step:nth-child(1):after,
.step-progress.subsidy .step:nth-child(2),
.step-progress.subsidy .step:nth-child(2):after,

.step-progress.structure .step:nth-child(1),
.step-progress.structure .step:nth-child(1):after,
.step-progress.structure .step:nth-child(2),
.step-progress.structure .step:nth-child(2):after,
.step-progress.structure .step:nth-child(3),
.step-progress.structure .step:nth-child(3):after,

.step-progress.netmeter .step:nth-child(1),
.step-progress.netmeter .step:nth-child(1):after,
.step-progress.netmeter .step:nth-child(2),
.step-progress.netmeter .step:nth-child(2):after,
.step-progress.netmeter .step:nth-child(3),
.step-progress.netmeter .step:nth-child(3):after,
.step-progress.netmeter .step:nth-child(4),
.step-progress.netmeter .step:nth-child(4):after,

.step-progress.handover .step:nth-child(1),
.step-progress.handover .step:nth-child(1):after,
.step-progress.handover .step:nth-child(2),
.step-progress.handover .step:nth-child(2):after,
.step-progress.handover .step:nth-child(3),
.step-progress.handover .step:nth-child(3):after,
.step-progress.handover .step:nth-child(4),
.step-progress.handover .step:nth-child(4):after,
.step-progress.handover .step:nth-child(5),
.step-progress.handover .step:nth-child(5):after,

.step-progress.done .step,
.step-progress.done .step:after{
    background: var(--bs-primary);
}

.nav-arrow-nav {
    overflow-x: scroll;
    touch-action: pan-x;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
}
.nav-arrow-nav .nav-item:nth-child(1) {
    min-width: 60px;
    max-width: 60px;
}
.nav-arrow-nav .nav-item {
    position: relative;
    width: 100%;
    text-align: center;
    min-width: 140px;
}
.nav-arrow-nav .nav-link.active {
    opacity: 1;
    background: #f4a261 !important;
}
.nav-arrow-nav .nav-link.active:after {
    border-left-color: #f4a261 !important;
}
.nav-arrow-nav .nav-item .nav-link {
    position: relative;
    border: 0;
    color: var(--bs-white);
}
.nav-arrow-nav .nav-item .nav-link::after {
    content: "";
    position: absolute;
    top: 5px;
    right: -12px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    z-index: 2;
}
.nav-arrow-nav .nav-item:nth-child(1) .nav-link {
    background: #395eff;
}
.nav-arrow-nav .nav-item:nth-child(2) .nav-link {
    background: #2648EF;
}
.nav-arrow-nav .nav-item:nth-child(2) .nav-link::after {
    border-left: 20px solid #2648EF;
}
.nav-arrow-nav .nav-item:nth-child(3) .nav-link {
    background: #1F3FD5;
}
.nav-arrow-nav .nav-item:nth-child(3) .nav-link::after {
    border-left: 20px solid #1F3FD5;
}
.nav-arrow-nav .nav-item:nth-child(4) .nav-link {
    background: #243CB8;
}
.nav-arrow-nav .nav-item:nth-child(4) .nav-link::after {
    border-left: 20px solid #243CB8;
}
.nav-arrow-nav .nav-item:nth-child(5) .nav-link {
    background: #1B2FB1;
}
.nav-arrow-nav .nav-item:nth-child(5) .nav-link::after {
    border-left: 20px solid #1B2FB1;
}
.nav-arrow-nav .nav-item:nth-child(6) .nav-link {
    background: #1b2f8a;
}
.nav-arrow-nav .nav-item:nth-child(6) .nav-link::after {
    border-left: 20px solid #1b2f8a;
}
.nav-arrow-nav .nav-item:nth-child(7) .nav-link {
    background: #091b75;
}
.dropzone .dz-preview .dz-remove{
    z-index: 20;
    position: relative;
}
.upload-image-box .img-for-onchange ,
.upload-image-box .cancel-img-btn {
    display: none;
}
.upload-image-box {
    position: relative;
}
.upload-image-box .cancel-img-btn {
    padding: 0 3px;
}
.upload-image-box .img-wrapper {
    position: relative;
    display: inline-block;
    margin-top: 15px;
}
.upload-image-box .upload-label {
    border: 2px dashed var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    display: block;
    text-align: center;
    min-height: auto;
    padding: 25px 0;
    cursor: pointer;
    margin-top: -20px;
}
.min-w300 {
    min-width: 300px;
}

.verification-status p {
    display: none;
}
.verification-status.pending .pending {
    display: block;
}
.verification-status.complete .complete {
    display: block;
}

.dropzone-btn-xl {
  min-height: 150px;
  min-width: 150px;

  input[type="file"] {
    display: none;
  }
}

.custom-img-upload {
  display: inline-block;
  width: 50px;
  position: relative;

  img {
    max-width: 50px;
    height: 50px;
    margin-bottom: 0;
    border-radius: var(--bs-border-radius);
    object-fit: cover;
  }

  .upload-btn {
    display: flex;
    align-items: center;
  }
  &.custom-img-upload-xl{
    width: 150px;
    img {
      max-width: 150px;
      height: 150px;
      margin-bottom: 0;
      border-radius: var(--bs-border-radius);
      object-fit: cover;
    }
  }
}

.cancel-img-btn {
  top: -10px;
  right: -10px;
  background: var(--bs-primary);
  color: var(--bs-body-bg);
  align-items: center;
  justify-content: center;
  display: flex;
  border-color: transparent;
  border-radius: var(--bs-border-radius);
}

.border-dashed {
    border-style: dashed;
    border-width: 1px;
    border-color: #cdcdcd;
}

/* .message-search-area.input-group .input-group-text {
    padding: 0;
    height: 40px;
	border-color: #d7dadf;
	border-top-right-radius: 0.5rem!important;
	border-bottom-right-radius: 0.5rem!important;
} */
.authincation .auth-wrapper{
	min-height: 100vh;
	overflow: hidden;
}
.authincation .auth-wrapper .auth-info{
    padding: 60px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.authincation .auth-wrapper .auth-form{
	padding: 20px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}
[data-theme-version="dark"]{
	.message-search-area.input-group .input-group-text{
		border-color: #4B4B4B;
	}
	.bg-body{
		background-color: #272727 !important;
	}
	.message-search-area.input-group .form-control::placeholder{
		color: white;
	}
	.message-search-area.input-group .form-control:focus{
		border-color: #4B4B4B;
	}
	.form-select{
		background-color: #272727;
		border-color: #4B4B4B;
	}
}

.formLoading {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    background: rgba(255, 255, 255, 0.5);
}