@media only screen and (max-width : 575px) {
    .card-header{
        padding: 1rem 1.25rem 1rem;
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
    .card-title+div{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }
}

[data-theme-version="dark"] .custom-img-upload {
    border-color: var(--d-border);
}
[data-theme-version="dark"][data-layout="horizontal"] .deznav{
    box-shadow: 0px 15px 10px 5px rgba(0, 0, 0, 0.2);
}
[data-header-position="fixed"][data-sidebar-position="static"][data-layout="horizontal"] .content-body {
    padding-top: 4.5rem;
}
[data-header-position="static"][data-sidebar-position="static"][data-layout="horizontal"] .content-body {
    padding-top: 0.5rem;
}
@media (min-width: 992px) {
    [data-container="boxed"][data-theme-version="dark"] #main-wrapper{
        box-shadow: 0 0px 10px 4px rgba(255, 255, 255, 0.1);
    }
    [data-container="wide-boxed"][data-theme-version="dark"] #main-wrapper{
        box-shadow: 0 0px 10px 4px rgba(255, 255, 255, 0.1);
    }
}
[data-theme-version="dark"] .zoom-img-container img {
    background-color: var(--d-bg);
    box-shadow: 0px 15px 10px 5px rgba(0, 0, 0, 0.1);
}
[data-theme-version="dark"] .basic-form-configuration .theme-media img{
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
    border-color: var(--d-border);
}
[data-theme-version="dark"] .icon-bx-wraper.style-1{
    background-color: var(--dark-card);
}
[data-theme-version="dark"] select.form-control option{
    background-color: var(--d-bg);padding: 10px;

}
[data-theme-version="dark"] .form-control:focus,[data-theme-version="dark"] .default-select:focus{
    border-color: var(--primary);
}
label[for="SiteLogoWhite"]+div img{
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.6));
}

/* flat icon model css start*/
.custom-modal-wrapper {
    z-index: 9999;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}
.custom-modal-content {
    background: var(--card);
    height: calc(100% - 10%);
    overflow-y: scroll;
    width: calc(100% - 10%);
    z-index: 99999;
    position: absolute;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.custom-modal-content .modal-head{
    position: relative;
}
.close-btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-size: 26px;
}
#selectIcon div.icons{
    cursor: pointer;
    text-transform: capitalize;
    border-radius: 10px;
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#selectIcon div.icons:hover{
    background: var(--primary);
    transition: 0.8s;
    box-shadow: 0px 0px 30px 5px var(--rgba-primary-4);
}
#selectIcon div.icons:hover p,#selectIcon div.icons:hover i{
    transition: 0.8s;
    color: #fff;
}
#selectIcon .icons i{
    font-size: 40px;
    color: var(--primary);
}
.selectIcon{
    cursor: pointer;
}
.selectIcon + i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 90%;
    color: var(--primary);
    font-size: 22px;
    pointer-events: none;
}
/* flat icon model css end*/


.card-body.msg-box.reply-note-sec {
    background-color: #fffbe8;
}
div.flaged-ticket {
    background-color: rgba(255,163,102,0.05);
}

.box-header {
    background-color: #fff;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.08);
    position: sticky;
    top: 0;
    z-index: 99;
}
.box-footer {
    background-color: #fff;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.08);
    text-align: center;
    font-size: 13px;
    padding: 8px 0;
}
.box-footer p {
    margin-bottom: 0;
}
.text-logo {
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 700;
}
.box-header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box-header-inner .nav li {
    display: inline-block;

}
.box-header-inner .nav li a {
    padding:17px 10px;
}
.boxarea {
     padding:50px 0;
     min-height: calc(100vh - 90px);
}

.ticket-support-expire {
    background-color: rgba(232,94,60,0.04);
}

.ticket-support-expire:hover .ticket-list {
    background: rgba(232,94,60,0.04) !important;
}
.ticket-support-expire:hover {
    background-color: rgba(232,94,60,0.04);
}

.ticket-list:hover i.fa-lock {
    color: #f00;
}

.ticket-list .reply-status{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ticket-list .support-expries {
    text-align: center;
    position: absolute;
    font-size: 17px;    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translate(-57% , -8px);
    cursor: pointer;
    opacity:0;
    transition: all .5s;
    margin-bottom: -15px;
}
.ticket-list:hover .support-expries{
    opacity:1;
    transform: translate(-57% , 18px);
}

.dropdown_list .dropdown-menu {
    min-width: 100%!important;
    width: 100%!important;
}
.dropdown_list .dropdown-menu .dropdown-item {
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    padding: 8px 12px;
    border-bottom: 1px solid #eee;
}
.dropdown_list .dropdown-menu .dropdown-item:hover {
    transform: scale(1.01);
}

/*summernote start*/
.default-summernote .note-toolbar{
    position: relative!important;
}
/*summernote end*/

/*support header start*/

.toggle-icon{
    display: none;
    height: 16px;
    width: 20px;
    position: relative;
}
.toggle-icon span{
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #000;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.toggle-icon span:nth-child(1){
    top: 0;
}
.toggle-icon span:nth-child(2){
   top: 7px;
}
.toggle-icon span:nth-child(3){
   top: 14px;
}
.toggle-icon.active span:nth-child(1){
        top: 7px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.toggle-icon.active span:nth-child(2){
   
    opacity: 0;
}
.toggle-icon.active span:nth-child(3){
        top: 7px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.box-header-inner .support-menu .text-logo{
    display: none;
}
.artical-bx .card-body a{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.media-body .ticket-description-sec img, .card-body.description-sec img {
    width: 100% !important;
}

.media-body .ticket-description-sec a, .card-body.description-sec a {
    color: #3a7afe !important;
}

@media (max-width: 768px) {
    .default-summernote .note-editor.note-frame .btn{
        padding: 7px 12px;
    }
    .toggle-icon{
        display: inline-block;
    }
    .box-header-inner .support-menu{
        position: fixed;
        top: 0;
        padding: 30px 0;
        display: block;
        z-index: 999;
        left: -200px;
        height: 100vh;
        width: 200px;
        background: #131313;
        transition: all 0.5s;
    }
    .box-header-inner .support-menu .text-logo{
        display: block;
        padding: 0 15px;
    }
    .box-header-inner .support-menu.active{
        left: 0;
    }
     .box-header-inner .support-menu li{
        display: block;
     }
     .box-header-inner .support-menu li a{
        display: block;
        padding: 10px 15px;
     }
     .box-header-inner .support-menu li a:hover{
       background-color: #313131;
     }
}
@media (max-width: 576px){
    .card-footer{
        padding: 1rem;
    }
    .chat-bx span {
        font-size: 15px;
    }
    .chat-bx .conversation-date,
    .ticket-detail-attachment{
        font-size: 12px;
    }
    h3, .h3 {
        font-size: 1rem;
    }
    .defaut-breadcrumb .breadcrumb-item {
        font-size: 14px;
    }
    .defaut-breadcrumb .breadcrumb-item:after{
        font-size: 20px;
    }
    h4, .h4 {
        font-size: 0.9rem;
    }
}

/*support header end*/

@media (min-width: 576px) {

    .min-container{
        max-width:800px;
        margin: auto;
    }
}

@media only screen and (min-width: 768px){
    [data-sidebar-style="mini"] .deznav.tab-sidebar .slimScrollDiv,
    [data-sidebar-style="mini"] .deznav.tab-sidebar .deznav-scroll {
        overflow: hidden !important;
    }
}

.attached-area{
    padding-left: 20px;
    border-left: 2px solid #ccc;
}

.attached-title{
    color: #000;
}
.attached-file{
    color: #3a7afe;
}

.default-summernote a {
    color: #3a7afe;
}

.jstree-default .jstree-anchor {
    color: #3F4254;
    padding: 0 8px 0 4px; 
}
.jstree-default .jstree-icon {
    color: #ffad0e;
    font-size: 1.3rem; 
}
.jstree-default .jstree-icon.fa {
    font-size: 1.2rem; 
}
.jstree-default .jstree-icon.la {
   font-size: 1.5rem; 
}
.jstree-default .jstree-disabled {
    line-height: auto;
    opacity: 0.7; 
    height: auto;
    cursor: not-allowed;
}
.jstree-default .jstree-disabled .jstree-icon {
    color: #3F4254; 
}   
.jstree-default .fa-file-text {
    color: #969696;
}   
.jstree-default .jstree-clicked {
    border: 0;
    box-shadow: none; 
    background: #F3F6F9;
    -webkit-box-shadow: none;
}
.jstree-default .jstree-hovered {
    box-shadow: none; 
    border: 0;
    background-color: #F3F6F9;
    -webkit-box-shadow: none;
}
.jstree-default .jstree-wholerow-clicked,
.jstree-default .jstree-wholerow-clicked {
    box-shadow: none; 
    background: #EBEDF3;
    -webkit-box-shadow: none;
}
.jstree-default .jstree-wholerow-hovered,
.jstree-default.jstree-wholerow .jstree-wholerow-hovered {
    border: 0;
    box-shadow: none; 
    -webkit-box-shadow: none;
    background-color: #F3F6F9;
}
.jstree-open > .jstree-anchor > .fa-folder:before {
    content: "\f07c"; 
    color:#ffad0e;
    margin-left: 2px;
}
.jstree-open > .jstree-anchor > .la-folder:before {
    margin-left: 2px;
    color:#ffad0e;  
    content: "\f200"; 
}
.jstree-default .jstree-clicked{
   background: transparent; 
}
.jstree-anchor{
    background: transparent;
    margin: 0!important;
    padding: 0!important;
    color: #000!important;
}

.jstree-anchor{
    margin-bottom:3px!important;
}

.added-permission a{
    background-color: #40b919;
    color: #fff!important;
    padding-right: 10px!important;
}

.not-added-permission a {
    background-color: #ff1b1b;
    color: #fff!important;
    padding-right: 10px!important;
}
.not-added-permission a.jstree-hovered ,
.not-added-permission a.jstree-clicked {
    background-color: #ff1b1b;
    color: #fff!important;
}
.added-permission a.jstree-hovered ,
.added-permission a.jstree-clicked {
    background-color: #40b919;
    color: #fff!important;
}

.added-permission .jstree-themeicon,
.not-added-permission .jstree-themeicon{
    background-size: 16px!important;
}

.heart-blast {
    background-position: -1680px 0 !important;
    transition: background 1s steps(28); 
}

.heart {
    width: 60px;
    height: 60px;
    display: inline-block;
    background: url(../images/like.png);
    cursor: pointer;
    margin: -25px -15px; 
}

ul.category-checkbox-list { 
    list-style: none;
    margin: 5px 20px;
}
ul.category-checkbox-list li {
    margin: 5px 5px;
}

img.configurationPrefixImg
{
    max-width:150px;
    min-width: 70px;
    height:auto;
}

body.authPages
{
}

ul.page-checkbox-list, ul.category-checkbox-list { 
    list-style: none;
    margin: 5px 20px;
}
ul.page-checkbox-list li, ul.category-checkbox-list li {
    margin: 5px 5px;
}
.disable_menu {
    background: rgba(255,255,255,0.5);
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    height: 100%;
}

.min-width-40 {
    min-width: 40rem !important;
}
.max-width-180 {
    max-width: 180px;
}


.editor-element-list {
    list-style: none;
    padding: 0px;
}
.ME-ElementList li {
    display: none;
    padding: 5px;
}
.ME-ElementList li.ME-Show {
    display: block;
}


#MagicEditorElementContainer {
    background-color: #f1f1f19e;
    padding: 15px;
}
.icon-bx-wraper.style-1{
    padding:15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius:7px;
    background: #fff;
    box-shadow: none;
    border: none;
}
.icon-bx-wraper.style-1 .icon-lg{
    padding: 0;
    text-align:center;
    height: auto;
    
}

.icon-bx-wraper.style-1 .dz-title {
    font-size:13px;
    margin:0;
    padding:0;
    
}
.icon-bx-wraper.style-1 .icon-lg img{
    width:100%;
    height:65px;
    width:100px;
    object-fit: contain;
}


.icon-bx-wraper.style-2 .dz-title {
    font-size:13px;
    margin:0;
    padding:0;
    
}
.icon-bx-wraper.style-2 .icon-lg img{
    width:100%;
    height:65px;
    width:100px;
    object-fit: contain;
}

.icon-bx-wraper.style-2{
    flex-direction: column;
    padding:15px;
    border-radius:0;
    background: #fff;
    box-shadow: none;
    border: 1px solid #eee;
}
.icon-bx-wraper.style-2 .icon-lg{
    flex-direction: column;
    padding: 0;
    width:100%;
    text-align:center;
    width: 100%;
    height: auto;
    margin-bottom:15px;
    
}

.icon-bx-wraper.style-2 .dz-title {
    font-size:13px;
    margin:0;
    padding:0;
    
}
.icon-bx-wraper.style-2 .icon-lg img{
    width:100%;
    height:65px;
    width:100px;
    object-fit: contain;
}
.editor-element-list li{
}
.modal-lg {
  width: 1300px;
}

.object-fit-cover {
  object-fit: cover;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    color: var(--primary);
}

.nav-tabs .active .nav-link {
    background-color: #efefef;
}
.accordion-header.collapsed .accordion-header-indicator::before {
    content: "\e64b" !important;
} 
.accordion-header:not(.collapsed) .accordion-header-indicator::before {
    content: "\e648" !important;
}

.zoom-img-container {
    position: absolute;
/*    height: 0;*/
background: transparent;
/*    width: 0;*/
    box-shadow: 0px 0px 30px #00000020;
    top: 0;
    left: 0;
    z-index: 999;
}
.zoom-img-container img {
    background-color: #fff;
    height: 300px !important;
    width: 300px !important;
    object-fit: cover;
    padding: 30px;
    border-radius: 10px;
}

/*Settings configuration style start*/
.basic-form-configuration input[type="radio"] + label {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: all .1s ease;
    border-radius: 4px;
    margin-right: 5px;
    margin-bottom: 3px;
    position: relative;
}
.basic-form-configuration input[type="radio"] {
    display: none;
}
.basic-form-configuration #nav_header_color_2 + label,
.basic-form-configuration #header_color_2 + label,
.basic-form-configuration #sidebar_color_2 + label,
.basic-form-configuration #primary_color_2 + label {
    background-color: #191e3a;
}
.basic-form-configuration #nav_header_color_1 + label,
.basic-form-configuration #header_color_1 + label,
.basic-form-configuration #sidebar_color_1 + label,
.basic-form-configuration #primary_color_1 + label {
    background-color: #fff;
    background: #fff;
    background-image: url(../images/pattern5.png);
    background-size: 130%;
    border: 1px solid #c4c4c4;
}
.basic-form-configuration #nav_header_color_3 + label,
.basic-form-configuration #header_color_3 + label,
.basic-form-configuration #sidebar_color_3 + label,
.basic-form-configuration #primary_color_3 + label {
    background-color: #eb8153;
}
.basic-form-configuration #nav_header_color_4 + label,
.basic-form-configuration #header_color_4 + label,
.basic-form-configuration #sidebar_color_4 + label,
.basic-form-configuration #primary_color_4 + label {
    background-color: #4527a0;
}
.basic-form-configuration #nav_header_color_5 + label,
.basic-form-configuration #header_color_5 + label,
.basic-form-configuration #sidebar_color_5 + label,
.basic-form-configuration #primary_color_5 + label {
    background-color: #c62828;
}
.basic-form-configuration #nav_header_color_6 + label,
.basic-form-configuration #header_color_6 + label,
.basic-form-configuration #sidebar_color_6 + label,
.basic-form-configuration #primary_color_6 + label {
    background-color: #283593;
}
.basic-form-configuration #nav_header_color_7 + label,
.basic-form-configuration #header_color_7 + label,
.basic-form-configuration #sidebar_color_7 + label,
.basic-form-configuration #primary_color_7 + label {
    background-color: #7356f1;
}
.basic-form-configuration #nav_header_color_8 + label,
.basic-form-configuration #header_color_8 + label,
.basic-form-configuration #sidebar_color_8 + label,
.basic-form-configuration #primary_color_8 + label {
    background-color: #5bcfc5;
}
.basic-form-configuration #nav_header_color_9 + label,
.basic-form-configuration #header_color_9 + label,
.basic-form-configuration #sidebar_color_9 + label,
.basic-form-configuration #primary_color_9 + label {
    background-color: #00838f;
}
.basic-form-configuration #nav_header_color_10 + label,
.basic-form-configuration #header_color_10 + label,
.basic-form-configuration #sidebar_color_10 + label,
.basic-form-configuration #primary_color_10 + label {
    background-color: #ff8f16;
}
.basic-form-configuration #nav_header_color_11 + label,
.basic-form-configuration #header_color_11 + label,
.basic-form-configuration #sidebar_color_11 + label,
.basic-form-configuration #primary_color_11 + label {
    background-color: #6673fd;
}
.basic-form-configuration #nav_header_color_12 + label,
.basic-form-configuration #header_color_12 + label,
.basic-form-configuration #sidebar_color_12 + label,
.basic-form-configuration #primary_color_12 + label {
    background-color: #558b2f;
}
.basic-form-configuration #nav_header_color_13 + label,
.basic-form-configuration #header_color_13 + label,
.basic-form-configuration #sidebar_color_13 + label,
.basic-form-configuration #primary_color_13 + label {
    background-color: #2a2a2a;
}
.basic-form-configuration #nav_header_color_14 + label,
.basic-form-configuration #header_color_14 + label,
.basic-form-configuration #sidebar_color_14 + label,
.basic-form-configuration #primary_color_14 + label {
    background-color: #1367c8;
}
.basic-form-configuration #nav_header_color_15 + label,
.basic-form-configuration #header_color_15 + label,
.basic-form-configuration #sidebar_color_15 + label,
.basic-form-configuration #primary_color_15 + label {
    background-color: #ed0b4c;
}
.basic-form-configuration .form-wrapper{
    border: 1px solid #d9d9d9 !important;
    padding: 30px;
    border-radius: 6px;
    margin-bottom: 30px;
    background-color: #fdfdfd;
    height: calc(100% - 30px);
}
.basic-form-configuration .theme-media img{ 
    border: 2px solid #fff;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
    border-radius: 6px;
}
.basic-form-configuration .theme-media input[type="radio"]:checked + img{
    border-color: var(--primary);
}
body[data-theme-version="dark"] .basic-form-configuration .form-wrapper {
    background-color: var(--d-bg);
    border: 1px solid var(--d-border) !important;
}
.basic-form-configuration .chk-col-primary[type="radio"]:checked + .bg-label-pattern:after{
    content: "\f00c";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    color: #fff;
    font-size: 12px;
}
/*Settings configuration style end*/

/* dark-theme-start */
body[data-theme-version="dark"] .bootstrap-tagsinput{
            background-color: transparent;
            border-color: var(--d-border);
    
        }
body[data-theme-version="dark"] .form-check-input{
            border-color:var(--d-border)!important;
        }
body[data-theme-version="dark"] .form-check-input:focus{
            box-shadow:unset;
            
        }
body[data-theme-version="dark"] .form-check-input:checked[type="checkbox"], .form-check-input:checked[type="radio"] {
    background-color:var(--primary);
}
body[data-theme-version="dark"] #MagicEditorElementContainer{
    background-color: var(--d-bg);
}
body[data-theme-version="dark"] .nav-tabs .active .nav-link{
    background-color:var(--d-bg);
    border-color:var(--d-border);
    color: var(--primary);
}
body[data-theme-version="dark"] .icon-bx-wraper.style-2{
        background-color:var(--d-bg);
        border-color:var(--d-border);
    
}
body[data-theme-version="dark"] .icon-bx-wraper.style-2 .icon-lg img{
    border-color:var(--d-border)!important;
    
}
body[data-theme-version="dark"] .input-group-text{
    border-color:var(--d-border);
}
body[data-theme-version="dark"] .jstree-anchor{
    color:#fff!important;
}
body[data-theme-version="dark"] .border-end{
    border-right: 1px solid var(--d-border) !important;
}
body[data-theme-version="dark"] .border-start{
    border-left: 1px solid var(--d-border) !important;
}
body[data-theme-version="dark"] .dd-list .dd-item .dd-handle{
    background:var(--primary);
    
}
body[data-theme-version="dark"] .dd-list .dd-item .accordion-header{
    border-color:var(--d-border);
    
}
body[data-theme-version="dark"] .dd-list .dd-item .accordion__body .form-group label{
    
    color:#fff;
}
body[data-theme-version="dark"] .cke_top,
body[data-theme-version="dark"] .cke_bottom,
body[data-theme-version="dark"] .cke_wysiwyg_frame{
    background-color: var(--d-bg) !important;
    border-color: var(--d-border) !important;
}
body[data-theme-version="dark"] .cke_wysiwyg_frame .cke_reset{
    background-color:#2c254a !important;
}
body[data-theme-version="dark"] .cke_chrome {
    border-color: var(--d-border) !important;
}
body[data-theme-version="dark"] .cke_button_label, .cke_toolbar .cke_combo_text {
    color: #828690 !important;
}
body[data-theme-version="dark"] .cke_button_icon {
    filter: brightness(2);
}
.ps--active-x>.ps__rail-x, .ps--active-y>.ps__rail-y{
    z-index: -1;
}

/* dark-theme-end */

.dropzone.dropzone-queue .dz-message {
    display: none;
}
.dropzone .dz-message .dz-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.dropzone {
    min-height: auto;
    border-radius: 5px;
}
.dropzone.dropzone-queue .dropzone-item {
    display: flex;
    align-items: center;
    margin-top: 0.75rem;
    border-radius: 0.475rem;
    padding: 0.5rem 1rem;
    background-color: var(--bs-gray-100);
}
.dropzone.dropzone-queue .dropzone-item .dropzone-file {
    flex-grow: 1;
}
.dropzone.dropzone-queue .dropzone-item .dropzone-progress {
    width: 15%;
}
.dropzone.dropzone-queue .dropzone-item .dropzone-toolbar {
    margin-left: 1rem;
    display: flex;
    flex-wrap: nowrap;
}
.dropzone.dropzone-queue .dropzone-item .dropzone-file .dropzone-filename {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--bs-gray-600);
    text-overflow: ellipsis;
    margin-right: 0.5rem;
}
.dropzone.dropzone-queue .dropzone-item .dropzone-file .dropzone-error {
    margin-top: 0.25rem;
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--bs-danger);
    text-overflow: ellipsis;
}
.dropzone.dropzone-queue .dropzone-item .dropzone-progress .progress {
    height: 5px;
    transition: all 0.2s ease-in-out;
}
.dropzone.dropzone-queue .dropzone-item .dropzone-toolbar .dropzone-start, .dropzone.dropzone-queue .dropzone-item .dropzone-toolbar .dropzone-cancel, .dropzone.dropzone-queue .dropzone-item .dropzone-toolbar .dropzone-delete {
    height: 25px;
    width: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: color 0.2s ease;
}

.modal-body > #modal-body-description > img
{
    width: 100%;
}

.language-table-scroll
{
    overflow: auto;
    max-height: 500px;
}



.plus-box {
background: var(--rgba-primary-1);
    font-size: 0.875rem;
    padding: 20px;
    overflow: hidden;
    margin: 0 1rem;
    border-radius: 0.5rem;
    align-items: center;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    position: relative;
}
.plus-box .btn{
    width: 100%;
    display: block;
    padding: 13px 20px;
    background: #fff;
    color: var(--primary);
    font-weight: 500;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0;
    border-radius: 8px;
    
}

.plus-box .btn:hover i{
    animation: shake 1.5s cubic-bezier(.36,.07,.19,.97) both    
}
.plus-box:before {
    position: absolute;
    content: "";
    top: 1.2rem;
    left: 1rem;
    background-repeat: no-repeat;
    height: 3rem;
    width: 3rem; 
}
 .plus-box h5, .plus-box .h5 {
    font-size: 1.125rem;
    font-weight: 600; 
    line-height:1.3;
}
.plus-box p {
    font-size: 0.75rem;
    font-weight: 400;
    opacity: 0.85;
    color: #A098AE;
    margin-bottom: 1rem;
}
@media only screen and (max-width: 74.9375rem) {
    .plus-box h5, .plus-box .h5 {
        font-size: 1rem; 
    } 
}

@media only screen and (max-width: 87.5rem) {
    .plus-box {
        margin: 1.25rem 1.25rem; 
    } 
}
@media only screen and (max-width: 74.9375rem) {
    .plus-box img {
        width: 38px; 
    } 
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.lang-dropdown-img img {
    border-radius: 100%;
}


.bootstrap-select.dropdown_list .dropdown-menu .dropdown-item {
    padding: 0.25rem 0.8rem;
}
.bootstrap-select.dropdown_list .dropdown-menu .dropdown-item .text img{
    width: 25px;
}
.bootstrap-select.dropdown_list .dropdown-menu .dropdown-item .text{
    font-size: 13px;
}
.bootstrap-select.dropdown_list .filter-option .filter-option-inner-inner img{
    width: 25px;
    margin-right: 3px;
    margin-top: -1px;
}


.theme-options-row {
    position: relative;
    padding: 20px 0px;
}
.theme-options-row:not(:last-child)::after {
    content: '';
    position: absolute;
    height: 1px;
    width: calc(100% - 30px);
    background-color: #e7e7e7;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.indented-section {
    margin-left: 20px;
}
.transition-slow {
    transition: 2s ;
}
.transition-medium {
    transition: 1.5s ;
}
.transition-fast {
    transition: 1s ;
}
.has-subsection.active-section {
    background-color: var(--rgba-primary-1);
}
.w3options-sorter-section{
    display: flex;
    flex-flow: wrap;
    gap: 15px;
}
.w3options-sorter-block {
    background: #f9f9f9;
    border: 1px solid #e3e3e3;
    min-height: 40px;
    padding: 10px 10px 0;
    width: 145px;
    float: left;
    margin: 0 15px 0 0;
}
.w3options-sorter-block .block-title {
    text-align: center;
}
.w3options-sorter-block .w3options-sorter-list {
    height: 100%;
}
.w3options-sorter-block .w3options-sorter-list li{
    border: 1px solid #dfdfdf;
    cursor: move;
    font-weight: bold;
    margin-bottom: 10px !important;
    padding: 0 10px;
    height: 40px;
    line-height: 40px !important;
    background-color: #f1f1f1;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
    background-image: linear-gradient(to bottom, #f9f9f9, #ececec);
    overflow: hidden;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
    text-align: center;
}
/* theme options css */


/* For Widgets and Blocks*/
.sorter-card{
    height: auto;
}
.sorter-card .card-body{
    padding: 15px;
}
.sorter-card .w3options-sorter-block{
    background-color: transparent;
    border: 0;
    padding: 0;
}
.elements-body {
    overflow-y: scroll;
    height: 500px;
}
.W3OptionsGroupedSection {
    position: relative;
}
.W3OptionsGroupedSection .delete-group {
    position: absolute;
    font-size: 16px;
    color: red;
    top: 15px;
    right: 15px;
    
}


.custom-image-delete {
  position: relative;
  overflow: hidden;
  display: inline-block;
  z-index: 1; }
  .custom-image-delete .delete-btn {
    content: "";
    position: absolute;
    transition: 0.5s;
    font-size: 16px;
    line-height: 0;
    padding: 5px;
    color: #000;
    top: 50%;
    right: 50%;
    opacity: 0;
    z-index: 1;
    transform: translate(50%, -50%); }
  .custom-image-delete:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    transition: 0.5s;
    background: #fff;
    top: 0;
    right: 0;
    opacity: 0; }
  .custom-image-delete:hover .delete-btn {
    opacity: 1; }
  .custom-image-delete:hover:after {
    opacity: 0.5; }