[data-theme-version="dark"] {
    .nav-header, 
    .nav-control {
        //background-color:$dark-card;
		
    }
	.hamburger{
		background:rgba(255,255,255,0.1);
	}
	.nav-header{
		border-color:$d-border;
	}
	.svg-logo-path{
		fill:$white;
	}
    .nav-control {
        color: $white;
    }

    .brand-logo {
        color: $white;
		--secondary:#fff;
        &:hover {
            color: $white;
        }
    }
	
	.footer{
		border-color:$d-border;
	}
	table th a{
		color:#fff;
	}
	
}