/*=========================
	All css
==========================*/
@import url("../plugins/bootstrap/css/bootstrap.min.css");
@import url("../plugins/fontawesome/css/all.min.css");
@import url("../plugins/line-awesome/css/line-awesome.min.css");
@import url("../plugins/themify/themify-icons.css");
@import url("../plugins/bootstrap-select/bootstrap-select.min.css");
@import url("../plugins/magnific-popup/magnific-popup.css");

/*=========================
	All css
==========================*/
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i|Maven+Pro:400,500,700,900|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

/* 
    font-family: 'Josefin Sans', sans-serif;
	font-family: 'Maven Pro', sans-serif;
	font-family: 'Inconsolata', monospace;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Montserrat', sans-serif;
 */